name: RMThirdparty_FFmpeg

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths-ignore: 'README.md'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2019

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Cache
      uses: actions/cache@v1.1.2
      with:
        # A directory to store and save the cache
        path: ./mab
        # An explicit key for restoring and saving the cache
        key: 'media_autobuild_suite_cache'

    # Runs a single command using the runners shell
    - name: Setup A
      run: |
        git clone --depth 1 https://github.com/m-ab-s/media-autobuild_suite.git ./mab
    
    - name: Setup B
      run: |
        git reset --hard b148baeec3f71fe38933fb79c7b555e0d07ef7ab

    - name: Debug 
      run: | 
        ls
        ls ./mab
        ls ./mab/build

    - name: Copy build configuration files 
      continue-on-error: true
      run: |
        Copy-Item  "./ffmpeg_options.txt" -Destination "./mab/build/"
        Copy-Item  "./mpv_options.txt" -Destination "./mab/build/"
        Copy-Item  "./media-autobuild_suite.ini" -Destination "./mab/build/"

    - name: Debug 
      run: | 
        ls
        ls ./mab
        ls ./mab/build

    # Runs a set of commands using the runners shell
    - name: Build FFmpeg
      working-directory: mab
      shell: cmd
      run: |
        call media-autobuild_suite.bat
        #Start-Process media-autobuild_suite.bat -Wait -NoNewWindow
