name: RMThirdparty_FFmpeg

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths-ignore: 'README.md'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2019

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: GitCloneCache
      id: GitCloneCache
      uses: actions/cache@v1.1.2
      with:
        # A directory to store and save the cache
        path: ./mab
        # An explicit key for restoring and saving the cache
        key: 'mediaAutobuildAuiteCache'

    # Runs a single command using the runners shell
    - name: Setup
      if: steps.GitCloneCache.outputs.cache-hit != 'true'
      run: |
        git clone https://github.com/m-ab-s/media-autobuild_suite.git ./mab
        cd ./mab
        git reset --hard 9495e7d611655991257c07ebf2ed68ee40291f04

    - name: Copy build configuration files 
      run: |
        Copy-Item  "./ffmpeg_options.txt" -Destination "./mab/build/"
        Copy-Item  "./mpv_options.txt" -Destination "./mab/build/"
        Copy-Item  "./media-autobuild_suite.ini" -Destination "./mab/build/"

    - name: Debug 
      run: | 
        ls
        ls ./mab
        ls ./mab/build

    # Runs a set of commands using the runners shell
    - name: Build FFmpeg
      working-directory: mab
      continue-on-error: true
      run: |
        Start-Process media-autobuild_suite.bat -Wait -NoNewWindow -Verb RunAs -PassThru
